<div class="row m-auto">
        <div class="p-4 col-sm-12 col-lg-3">
            <a href="/dashboard/edit/{{entry.id}}"><button class="waves-effect waves-light btn-large">Edit Entry</button></a>
        </div>
        <div class="p-4 col-sm-12 col-lg-3">
            <button id="delete-entry-button" class="waves-effect waves-light btn-large">Delete Entry</button>
        </div>
        <div class="p-4 col-sm-12 col-lg-3">
        </div>
    </div>

    <input type="hidden" id="delete-entry-id" value="{{entry.id}}"/>

    <div class="row p-4">
        <div class="col-12 col-md-4 col-lg-6">
            <div class="card" style="width: 25rem;">
                <div class="card-body" style="p-4">
                    <h3>Title: {{entry.title}}</h3>
                    <h5>Progress: {{entry.progress}}</h5>
                    <h5>Episodes seen: {{entry.episodes_seen}}</h5>
                    <h5>Rating: {{entry.rating}}</h5>
                </div>
            </div>
        </div>
    </div>

<script src="/js/delete-entry.js"></script>
